<!-- <h3>My Cart</h3>
<table>
  <tr>
    <th>Product</th>
    <th>Company</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let c of cart;let i=index">
    <td>
        <img width= 100 height=100 src="{{imagePath}}{{c.image}}">
      {{c.name}}</td>
    <td>{{c.company}}</td>
    <td>{{c.qty}}</td>
    <td>{{c.price}}</td>
    <input type="submit" name="removefromcart" value="Remove From Cart" (click)="remove(i)"/>
  </tr>
</table> -->
<!-- <h4>Total Price:{{val}}</h4> -->
    <!-- Page Add Section Begin -->
    <section class="page-add cart-page-add">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="page-breadcrumb">
                      <h2>Cart<span>.</span></h2>
                      <a href="#">Home</a>
                      <a href="#">Dresses</a>
                      <a class="active" href="#">Night Dresses</a>
                  </div>
              </div>
              <div class="col-lg-8">
                  <img src="../../assets/img/add.jpg" alt="">
              </div>
          </div>
      </div>
  </section>
  <!-- Page Add Section End -->

  <!-- Cart Page Section Begin -->
  <div class="cart-page">
      <div class="container">
          <div class="cart-table">
              <table>
                  <thead>
                      <tr>
                          <th class="product-h">Product</th>
                          <th>Price</th>
                          <th class="quan">Quantity</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let c of cart;let i=index">
                          <td class="product-col">
                              <img src="{{imagePath}}{{c.image}}" alt="">
                              <div class="p-title">
                                  <h5>{{c.name}}</h5>
                              </div>
                          </td>
                          <td class="price-col">{{c.price}}</td>
                          <td class="quantity-col">
                              <div class="pro-qty">
                                  {{c.qty}}
                              </div>
                          </td>
                          <td class="product-close"><input type="submit" name="removefromcart" value="Remove From Cart" (click)="remove(i)"/></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="cart-btn">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="coupon-input">
        
                      </div>
                  </div>
                  <div class="col-lg-5 offset-lg-1 text-left text-lg-right">
                      <button class="site-btn clear-btn"(click)="rem()">Clear Cart</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="shopping-method">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                    
                      <div class="total-info">
                          <div class="total-table">
                              <table>
                                  <thead>
                                      <tr>
                                          <th>Total</th>
                                          <th>Subtotal</th>
                                          <th>Shipping</th>
                                          <th class="total-cart">Total Cart</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="total">{{total}}</td>
                                          <td class="sub-total">{{total}}</td>
                                          <td class="shipping">50</td>
                                          <td class="total-cart-p">{{gtot}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="row">
                              <div class="col-lg-12 text-right">
                                  <a routerLink="/home/checkout" class="primary-btn chechout-btn">Proceed to checkout</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Cart Page Section End -->