<!-- <body>
 

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section  
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
 -->


 <body>
     <!-- Page Preloder -->
     <div id="preloder">
         <div class="loader"></div>
     </div>
     
     <!-- Search model -->
   <div class="search-model">
     <div class="h-100 d-flex align-items-center justify-content-center">
       <div class="search-close-switch">+</div>
       <form class="search-model-form">
         <input type="text" id="search-input" placeholder="Search here.....">
       </form>
     </div>
   </div>
   <!-- Search model end -->
 
     <!-- Header Section Begin -->
     <!-- Header Info Begin -->
     <div class="header-info">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-md-4">
                     <div class="header-item">
                         <img src="assets/img/icons/delivery.png" alt="">
                         <p>Free shipping on orders over $30 in USA</p>
                     </div>
                 </div>
                 <div class="col-md-4 text-left text-lg-center">
                     <div class="header-item">
                         <img src="assets/img/icons/voucher.png" alt="">
                         <p>20% Student Discount</p>
                     </div>
                 </div>
                 <div class="col-md-4 text-left text-xl-right">
                     <div class="header-item">
                     <img src="assets/img/icons/sales.png" alt="">
                     <p>30% off on dresses. Use code: 30OFF</p>
                 </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- Header Info End -->
     <!-- Header End -->
 
     <!-- Hero Slider Begin -->
     <section class="hero-slider">
         <div class="hero-items owl-carousel">
             <div class="single-slider-item set-bg" data-setbg="assets/img/slider-1.jpg">
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-12">
                             <h1>2019</h1>
                             <h2>Lookbook.</h2>
                             <a href="#" class="primary-btn">See More</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="single-slider-item set-bg" data-setbg="assets/img/slider-2.jpg">
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-12">
                             <h1>2019</h1>
                             <h2>Lookbook.</h2>
                             <a href="#" class="primary-btn">See More</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="single-slider-item set-bg" data-setbg="assets/img/slider-3.jpg">
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-12">
                             <h1>2019</h1>
                             <h2>Lookbook.</h2>
                             <a href="#" class="primary-btn">See More</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- Hero Slider End -->
 
     <!-- Features Section Begin -->
     <section class="features-section spad">
         <div class="features-ads">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-4">
                         <div class="single-features-ads first">
                             <img src="assets/img/icons/f-delivery.png" alt="">
                             <h4>Free shipping</h4>
                             <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
                                 esuada aliquet libero viverra cursus. </p>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="single-features-ads second">
                             <img src="assets/img/icons/coin.png" alt="">
                             <h4>100% Money back </h4>
                             <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                                 aliquet libero viverra cursus. </p>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="single-features-ads">
                             <img src="assets/img/icons/chat.png" alt="">
                             <h4>Online support 24/7</h4>
                             <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                                 aliquet libero viverra cursus. </p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Features Box -->
         <div class="features-box">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-6">
                         <div class="row">
                             <div class="col-lg-12">
                                 <div class="single-box-item first-box">
                                     <img src="assets/img/f-box-1.jpg" alt="">
                                     <div class="box-text">
                                         <span class="trend-year">2019 Party</span>
                                         <h2>Jewelry</h2>
                                         <span class="trend-alert">Trend Allert</span>
                                         <a href="#" class="primary-btn">See More</a>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-12">
                                 <div class="single-box-item second-box">
                                     <img src="assets/img/f-box-2.jpg" alt="">
                                     <div class="box-text">
                                         <span class="trend-year">2019 Trend</span>
                                         <h2>Footwear</h2>
                                         <span class="trend-alert">Bold & Black</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="single-box-item large-box">
                             <img src="assets/img/f-box-3.jpg" alt="">
                             <div class="box-text">
                                 <span class="trend-year">2019 Party</span>
                                 <h2>Collection</h2>
                                 <div class="trend-alert">Trend Allert</div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- Features Section End -->
 
     <!-- Latest Product Begin -->
     <section class="latest-products spad">
         <div class="container">
             <div class="product-filter">
                 <div class="row">
                     <div class="col-lg-12 text-center">
                         <div class="section-title">
                             <h2>Latest Products</h2>
                         </div>
                         <ul class="product-controls">
                             <li data-filter="*">All</li>
                             <li data-filter=".dresses">Dresses</li>
                             <li data-filter=".bags">Bags</li>
                             <li data-filter=".shoes">Shoes</li>
                             <li data-filter=".accesories">Accesories</li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="row" id="product-list">
                 <div class="col-lg-3 col-sm-6 mix all dresses bags">
                     <div class="single-product-item">
                         <figure>
                             <a href="#"><img src="assets/img/products/img-1.jpg" alt=""></a>
                             <div class="p-status">new</div>
                         </figure>
                         <div class="product-text">
                             <h6>Green Dress with details</h6>
                             <p>$22.90</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 mix all dresses bags">
                     <div class="single-product-item">
                         <figure>
                             <a href="#"><img src="assets/img/products/img-2.jpg" alt=""></a>
                             <div class="p-status sale">sale</div>
                         </figure>
                         <div class="product-text">
                             <h6>Yellow Maxi Dress</h6>
                             <p>$25.90</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 mix all shoes accesories">
                     <div class="single-product-item">
                         <figure>
                             <a href="#"><img src="assets/img/products/img-3.jpg" alt=""></a>
                             <div class="p-status">new</div>
                         </figure>
                         <div class="product-text">
                             <h6>One piece bodysuit</h6>
                             <p>$19.90</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 mix all shoes accesories">
                     <div class="single-product-item">
                         <figure>
                             <a href="#"><img src="assets/img/products/img-4.jpg" alt=""></a>
                             <div class="p-status popular">popular</div>
                         </figure>
                         <div class="product-text">
                             <h6>Blue Dress with details</h6>
                             <p>$35.50</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 mix all dresses shoes">
                     <div class="single-product-item">
                         <figure>
                             <a href="#"><img src="assets/img/products/img-5.jpg" alt=""></a>
                             <div class="p-status">new</div>
                         </figure>
                         <div class="product-text">
                             <h6>Green Dress with details</h6>
                             <p>$22.90</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 mix all accesories bags">
                     <div class="single-product-item">
                         <figure>
                             <a href="#"><img src="assets/img/products/img-6.jpg" alt=""></a>
                             <div class="p-status sale">sale</div>
                         </figure>
                         <div class="product-text">
                             <h6>Yellow Maxi Dress</h6>
                             <p>$25.90</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 mix all dresses bags">
                     <div class="single-product-item">
                         <figure>
                             <a href="#"><img src="assets/img/products/img-7.jpg" alt=""></a>
                         </figure>
                         <div class="product-text">
                             <h6>One piece bodysuit</h6>
                             <p>$19.90</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-6 mix all accesories bags">
                     <div class="single-product-item">
                         <figure>
                             <a href="#"><img src="assets/img/products/img-8.jpg" alt=""></a>
                             <div class="p-status popular">popular</div>
                         </figure>
                         <div class="product-text">
                             <h6>Blue Dress with details</h6>
                             <p>$35.50</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- Latest Product End -->
 
     <!-- Lookbok Section Begin -->
     <section class="lookbok-section">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-lg-4 offset-lg-1">
                     <div class="lookbok-left">
                         <div class="section-title">
                             <h2>2019 <br />#lookbook</h2>
                         </div>
                         <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vestibulum malesuada
                             aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo
                             lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo
                             viverra scelerisque. Phasellus facilisis lobortis metus, sit amet viverra lectus finibus ac.
                             Aenean non felis dapibus, placerat libero auctor, ornare ante. Morbi quis ex eleifend,
                             sodales nulla vitae, scelerisque ante. Nunc id vulputate dui. Suspendisse consectetur rutrum
                             metus nec scelerisque. s</p>
                         <a href="#" class="primary-btn look-btn">See More</a>
                     </div>
                 </div>
                 <div class="col-lg-5 offset-lg-1">
                     <div class="lookbok-pic">
                         <img src="assets/img/lookbok.jpg" alt="">
                         <div class="pic-text">fashion</div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- Lookbok Section End -->
 
     <!-- Logo Section Begin -->
     <div class="logo-section spad">
         <div class="logo-items owl-carousel">
             <div class="logo-item">
                 <img src="assets/img/logos/logo-1.png" alt="">
             </div>
             <div class="logo-item">
                 <img src="assets/img/logos/logo-2.png" alt="">
             </div>
             <div class="logo-item">
                 <img src="assets/img/logos/logo-3.png" alt="">
             </div>
             <div class="logo-item">
                 <img src="assets/img/logos/logo-4.png" alt="">
             </div>
             <div class="logo-item">
                 <img src="assets/img/logos/logo-5.png" alt="">
             </div>
         </div>
     </div>
     <!-- Logo Section End -->
 
     <!-- Footer Section Begin -->
     <!-- <footer class="footer-section spad">
         <div class="container">
             <div class="newslatter-form">
                 <div class="row">
                     <div class="col-lg-12">
                         <form action="#">
                             <input type="text" placeholder="Your email address">
                             <button type="submit">Subscribe to our newsletter</button>
                         </form>
                     </div>
                 </div>
             </div>
             <div class="footer-widget">
                 <div class="row">
                     <div class="col-lg-3 col-sm-6">
                         <div class="single-footer-widget">
                             <h4>About us</h4>
                             <ul>
                                 <li>About Us</li>
                                 <li>Community</li>
                                 <li>Jobs</li>
                                 <li>Shipping</li>
                                 <li>Contact Us</li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                         <div class="single-footer-widget">
                             <h4>Customer Care</h4>
                             <ul>
                                 <li>Search</li>
                                 <li>Privacy Policy</li>
                                 <li>2019 Lookbook</li>
                                 <li>Shipping & Delivery</li>
                                 <li>Gallery</li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                         <div class="single-footer-widget">
                             <h4>Our Services</h4>
                             <ul>
                                 <li>Free Shipping</li>
                                 <li>Free Returnes</li>
                                 <li>Our Franchising</li>
                                 <li>Terms and conditions</li>
                                 <li>Privacy Policy</li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                         <div class="single-footer-widget">
                             <h4>Information</h4>
                             <ul>
                                 <li>Payment methods</li>
                                 <li>Times and shipping costs</li>
                                 <li>Product Returns</li>
                                 <li>Shipping methods</li>
                                 <li>Conformity of the products</li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="social-links-warp">
       <div class="container">
         <div class="social-links">
           <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
           <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
           <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
           <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
           <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
           <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
         </div>
       </div>
 
 <div class="container text-center pt-5">
                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
   <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
   <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>
             </div>
 
 
     </div>
     </footer> -->
     <!-- Footer Section End -->
 
     <!-- Js Plugins -->
     
 </body>
 
 